@keyframes clouds{
    0%{
        transform: translateX(-100vw);
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100vw);
    }
}
@keyframes big-cloud{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }
}
@keyframes dog{
    0%{
        transform: scale(0.1) translateX(150%) translateY(100%);
        opacity: 0;
    }
    100%{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 100;
    }
}
@keyframes date{
    0%{
        transform: translateX(150%) rotate(360deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0) rotate(0);
        opacity: 1;
    }
}
@keyframes pop-up{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes breath{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes shine{
    0%{
        opacity: 100;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
@keyframes shake{
    0%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}
@keyframes btn-hover{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(30%);
    }
}