.form__modify{
    margin-left: 10%;
    font-size: 1em;
}
/* sm - Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){
    .form__modify{
        font-size: 0.8em;
    }
}
/* xs - Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px){
    .form__modify{
        font-size: 0.8em;
    }
}